@model AlfaPeople.KingKhalidFoundation.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<!-- Content -->
<div class="content">
    <div class="content">
        <div class="container-fluid">

            <p class="text-success">@ViewBag.StatusMessage</p>
         
</div>
</div></div>